.mainContainer {
  height: 100vh;
  display: flex;
    background: #4070f4;
    align-items: center;
    justify-content: center;
}

.dataContainer {
  position: relative;
  max-width: 500px;
  width: 100%;
  background: #fff;
  margin: 0 15px;
  padding: 10px 20px;
  border-radius: 7px;
  text-align: center;
}

.header {
  text-align: center;
  font-size: 32px;
  font-weight: 600;
  color: #333;
}

.bio {
  text-align: center;
  color: #333;
  margin-top: 16px;
  font-size: 14px;
    font-weight: 400;
}

.waveButton {
  align-items: center;
  justify-content: center;
  height: 45px;
  max-width: 200px;
  width: 100%;
  border: none;
  outline: none;
  color: #fff;
  border-radius: 5px;
  margin: 25px 0;
  background-color: #4070f4;
  transition: all 0.3s linear;
  cursor: pointer;
}

.waveButton:hover{
  background-color: #112f82;
}